<h1 class="page-header">Detalhes da tarefa: {{ task?.title }}</h1>

<form [formGroup]="reactiveTaskForm">
  <div class="row">
    <div class="form-group col-md-6 has-feedback"[ngClass]="fieldClassForErrorOrSuccess('title')">
      <label for="title" class="control-label">Título</label>
      <input  [(ngModel)]="task!.title" type="text" formControlName="title" id="title" class="form-control">
      <span class="form-control-feedback" ngClass="iconClassErrorOrSuccess('title')" style="margin-right:20px" ></span>


      <div *ngIf="showFieldError(getField('title'))" class="text-danger">
        <div *ngIf="getField('title')?.errors">O título é obrigatório</div>
        <div *ngIf="getField('title')?.errors">O título deve ter no minímo 3 caracteres</div>
        <div *ngIf="getField('title')?.errors">O título deve ter no máximo 255 caracteres</div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="deadline" class="control-label">Prazo de Entrega</label>
      <input type="text" placeholder="Datepicker" formControlName="deadline" id="deadline" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', isAnimated: true }" >
    </div>
    <div class="form-group col-md-3">
      <label for="done" class="control-label">Situação</label>
      <select class="form-control" id="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="description" class="control-label">Descrição detalhada</label>
        <textarea  class="form-control" name="description" id="description"  rows="4"></textarea>
      </div>
    </div>
  </div>



  <pre>{{reactiveTaskForm.value | json}}</pre>
  <pre>{{reactiveTaskForm.get('title')?.errors| json}}</pre>

</form>


<div>
  <div class="mb-3" *ngIf="task">
    <label for="title" class="form-label">Título</label>
    <input [(ngModel)]="task!.title" class="form-control" type="text">
  </div>
  <button class="btn btn-danger" (click)="goBack()">Voltar</button>
  <!-- <button type="submit" class="btn btn-success" (click)="updateTask()">Atualizar</button> -->
</div>


 Modal 
<pre id="exemplo">
  teste asfdfdfdfadfdfdfdf
  qaddfdfapoi ioudiofuopu opi
  paoisuio poiuiu poiuy qwert 
</pre> 